.pole {
	background: url(z.jpg) no-repeat;
	background-size: 100% 100%;
	width: 1000px;
	height: 600px;
	border: 2px solid blue;
}

.met {
	position: absolute;
	left: 200px;
	top: 0;
	height: 130px;
	width: 110px;
	background: url(v.png) no-repeat;
	background-size: 100% 100%;
}

.kor {
	position: relative;
	height: 150px;
	width: 150px;
	background: url(x.png) no-repeat;
	background-size: 100% 100%;
	top: 450px;
}
.p {
	position: relative;
	width: 80px;
	height: 100px;
	background: url(c.png) no-repeat;
	background-size: 100% 100%;
	bottom: 0px;
	left: -30px;

}